.baseinfo td, .contat td {
	padding-right: 50px;
}
.email, .github {
	text-decoration: none;
	color: #5265EC;
}
.ability p, .education p {
	margin: 0;
}
.ability td, .education td {
	padding-bottom: 20px;
}
.ability tr:last-of-type td, .education tr:last-of-type td {
	padding-bottom: 0;
}